body{
    background-color: white;
    padding-top: 0px;
}
li{
    color: white;
}
div .nav .embed-responsive{
    height: 44px;
    width: auto;
}
/*div .side{
    position: fixed;
    background-color: gray;
    height: 100%;
    width: 20px;
}*/
.nav{
    height: 48px;
}
.navbar-expand-lg .navbar-collapse{
    height: 5px;
}
div.embed-responsive{
    height: 83px;
}
div a.dropdown-item{
    position: absolute;
}
div .navbar-expand-lg.navbar-nav.dropdown-menu{
    position: absolute;
    height: 39px;
    padding-top: 5px;
}